*{
 margin: 0;
 padding: 0;
 box-sizing: border-box;
}


nav {
     position: fixed;
     width: 100%;
     padding: 10px;
     font-size: 20px;
     color: white;
     background-color: rgb(64, 147, 224);
}

nav ul{
    list-style: none;
    display: flex;
}
nav ul li{
    margin: 10px;
}
nav ul li:hover{
    cursor: pointer;
    font-size: 30px;
    color: turquoise;
}

.main{
    width: 100%;
    height: 100vh;
    background:url("episimage.jpg");
    background-size: 100% 100%;
    background-repeat: no-repeat;
}

.coding {
    background: url("realcodingimg.jpg")

}

.main h1{
    margin-top: 200px;
    font-size: 100px;
    font-weight: bold;
    text-align: center;
    color: black;
    text-shadow: 5px 5px 10px rgba(0, 0, 0, 0.507);
}
.news{
    width: 100%;
    height: 500px;
    padding: 50px;
}
.news h1{
    font-size: 28px;
}

.news .m_news {
    background-color: lightblue;
    display: flex;
    margin-top: 20px;
    width: 100%;
    height: 300px;
}

.news .m_news .card_news{
    margin-right: 20px;
    width: 300px;
    height: 100%;
    background-color: lightslategray;
    background:url(blue\ orange.jpg)
}

.news .m_news .card_news h1{
   text-align: center;   
   color: whitesmoke;
   margin-top: 10px;
}

.news .m_news .card_news p{
   text-align: center;   
   color: whitesmoke;
   margin-top: 10px;
}

